.cart-button {
    -webkit-appearance: none;
    background-color:lightskyblue;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0,0,0,0.25), 0 3px 5px rgba(0,0,0,0.22);
}

.cart-button:active {
    box-shadow: none;
}

.cart-bck{
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    height: 100%;
    width: 100%;
}
.cart{
    position: relative;
    padding: 5%;
    background-color: white;
    top: 10%;
    left: 5%;
    width: 80%;
    border: 1px solid #999;
}
.hidden{
    display: none;
}
.cart-table{
    width: 100%;
    text-align: center;
}
.cart-th{
    padding: 5px;
    width: calc(100% / 5);
    overflow: hidden;
    text-align: center;
}
.totalSum{
    width: calc(100% - 40px);
    height: 30px;
    text-align: center;
    display: block;
    padding: 20px;
}
.cart-img{
    width: 40px;
    height: 40px;
    margin: 5px;
}
.cart-sum{
    margin: 20px;
    text-align: right;
}
.cart-inner{
    width: 100%;
    height: 100%;
    padding: 10px;
}
.cart-close{
    position: absolute;
    top: 0;
    right: -30px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    padding: 0;
    border: none;
}
.inc-good, .dec-good{
    width: 15px;
    height: 15px;
    font-size: 15px;
    text-align: center;
    padding: 0px;
    border-radius: 1px;
    line-height: 8px;
}