.chat-open{
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 20%;
    text-decoration: none;
}
.chat-closed{
    line-height: 25px;
    text-align: center;
    background-color: dodgerblue;
    color: white;
    border-radius: 2px;
}
.chat-img{
    width: 50px;
    height: 50px;
}
.chat{
    width: 30%;
    height: 50%;
    position: fixed;
    right: 20px;
    bottom: 20px;
    background-color: gainsboro;
    border: 1px solid darkgray;
    /*padding: 10px;*/
    border-radius: 3px;
    border-top-right-radius: 20px;
}
.chat-close{
    width: 20px;
    height: 20px;
    font-size: 18px;
    line-height: 20px;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    background-color: dodgerblue;
    color: white;
    text-align: center;
}
.chat-header{
    background-color: lightskyblue;
    color: white;
    padding: 10px;
    border-top-right-radius: 20px;
}
.consultant-photo{
    background-image: url("img/cons.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
    display: inline-block;
    float: left;
    margin-right: 10px;
}
.user-message{
    width: 90%;
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: white;
    text-align: right;
    padding: 5px;
}
.user-msg{
    width: 75%;
    border: none;
    resize: none;
}
.msg-block{
    width: 90%;
    display: flex;
    justify-content: flex-start;
}
.chat-messages{
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow-y: auto;
    margin: 5px;
}
.msg-block{
    display: flex;
    padding: 5px;
}
.msg-block:first-of-type{
    margin-top: auto;
}
.consultant-block{
    justify-content: flex-start;
}
.user-block{
    justify-content: flex-end;
}
.msg-time{
    padding: 5px;
    margin-right: 10px;
}
.msg-consultant-before{
    width: 7px;
    height: 7px;
    background-color: lightsteelblue;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -3px;
}
.msg-user-before{
    width: 7px;
    height: 7px;
    background-color: lightgreen;
    transform: rotate(45deg);
    position: absolute;
    top: 10px;
    left: -3px;
}
.msg-text{
    padding: 5px;
    border-radius: 2px;
    position: relative;
    width: 60%;
    word-break: break-word;
}
.msg-consultant{
    background-color: lightsteelblue;
}
.msg-user{
    background-color: lightgreen;
}
.smiles-btn{
    width: 6%;
    height: 25px;
    background-image: url("img/iconfinder_misc-_smile__1276846.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
    background-color: white;
    border: none;
    margin-right: 2px;
}
.attachfile-btn{
    width: 7%;
    height: 25px;
    background-image: url("img/iconfinder_clip-save-attach-file_2205233.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    opacity: 0.5;
    background-color: white;
    border: none;
}